@import 'bulma';

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}


.container {
  width: 90%;
  margin: 25px auto;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .header-img-container {
    width: 150px;
    height: 150px;
    border-radius: 30%;
    img {
      max-width: 100%;
    }
  }
  nav {
    margin: 15px 0;
      a {
        font-size: 1.3em;
        border: solid black 1px;
        margin: 0 10px;
      }
    }
}

.front-images {
  display: flex;
  flex-wrap: wrap;
}

.front-image {
  width: 33%;
  position: relative;
  max-height: 144px;
  overflow: hidden;
}

i {
  color: darken(white, 10%);
  position: absolute;
  top: 3px;
}

.fa-heart {
  top: 30px;
  right: 8px;
  &:hover {
    color: purple;
  }
}

.fa-bars {
  top: 5px;
  right: 9px;
  &:hover {
    color: #1FC8DB;;
  }
}

.fa-trash {
  left: 10px;
  &:hover {
    color: red;
  }
}

.detail-tmpl {
  display: flex;
  flex-direction: column;
  align-items: center;
  .detail-info {
    width: 100%;
    margin: 20px 2.5% 20px;
    letter-spacing: 0.07em;
    display: flex;
    .detail-title {
      font-weight: 600;
      width: 20%;
    }
    .detail-description {
      margin: 0 auto;
    }
    a {
      text-align: right;
      width: 20%;
    }
  }
  .detail-image {

  }
}

form {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  p {
    width: 80%;
    margin: 0 auto;
  }
  input, textarea {
    width: 100%;
  }
  textarea {
    height: 100px;
  }
  .textarea {
    resize: none;
  }
  button {
  }
}


footer {
  display: flex;
  margin: 35px 0 0 3%;
}


@media screen and (max-width: 1000px) {
  
  .front-image {
    width: 50%;
  }
}
@media screen and (max-width: 650px) {
  .front-image {
    width: 100%;
  }
}


